.navbar {
    background: cadetblue;
}

.btn-primary {
    color: #fff;
    background-color: cadetblue;
    border-color: white;
}

.btn-primary:hover {
    color: black;
    background-color: white;
    border-color: cadetblue;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.about .about-left {
    padding: 100px;
    background-color: #fbe8ff;
}

.about .about-left h2 {
    text-align: center;
}

.about .about-right {
    background-image: url("../images/food1.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contact-left {
    background-image: url("../images/food2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contact-right {
    padding: 90px;
    background-color: #fbe8ff;
}

.contact-right h2 {
    text-align: center;
}

.services-right {
    background-image: url("../images/food3.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.services-left {
    padding: 100px;
    background-color: #fbe8ff;
}

.services-left input {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 10px 20px;
}

.services-left input:hover {
    background-color: white;
    border: none;
    border: 1px solid cadetblue;
    color: cadetblue;
    padding: 10px 20px;
}

.products {
    background-color: #fbe8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.products h2 {
    text-align: center;
}

.products .card-holder {
    padding: 20px;
}

footer {
    background-color: cadetblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    color: white;
}

footer ul {
    list-style: none;
}

footer ul li a {
    color: white;
}

.transaction-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transaction-container input {
    width: 100%;
    margin: 2px;
}

.transaction-container input.special {
    width: 100%;
    margin: 2px;
    background-color: cadetblue;
    color: white;
    border: 1px solid white;
}

.transaction-container input.special:hover {
    width: 100%;
    margin: 2px;
    background-color: white;
    color: cadetblue;
    border: 1px solid cadetblue;
}

.transaction-left {
    width: 100%;
}

.transaction-left .gcash-container {
    margin: 2px;
    border: 1px solid cadetblue;
    padding: 20px;
}

.transaction-left .contact-us {
    margin: 2px;
    border: 1px solid cadetblue;
    padding: 20px;
}

.package-container {
    display: flex;
}

.course-menu {
    display: flex;
    flex-direction: column;
}

.course-menu .course-mune-inner {
    display: flex;
    align-items: center;
}

.course-mune-inner {
    box-shadow: 4px 4px 2px 2px cadetblue;
    border: 1px solid cadetblue;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-menu img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 10px;
    border: 2px solid cadetblue;
}

.form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
}

.form-container input,
select {
    width: 100%;
    border: 1px solid cadetblue;
    padding: 0px;
    height: 30px
}

.form-container .select {
    width: 20%;
    /* border-left: none !important; */
    height: 30px;
    padding: 0px;
    margin: 0;
    border: 1px solid cadetblue;
}

.form-container .input {
    width: 78%;
    /* border-right: none !important; */
    padding: 0;
    margin: 0;
    height: 30px;
    border: 1px solid cadetblue;
}

.outer-form-container {
    width: 100%;
}

.package-card {
    box-shadow: 4px 4px 1px 1px cadetblue;
    border: 1px solid cadetblue;
    padding: 20px;
    margin: 20px;
}

.package-card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.button-container input {
    margin: 2px;
    background-color: cadetblue;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
}

.button-container input:hover {
    margin: 2px;
    background-color: white;
    color: cadetblue;
    border: 1px solid cadetblue;
}

.transaction-right {

    border: 1px solid cadetblue;
}